<!DOCTYPE html>
<html>
<head>
    <title>Cien Años de Soledad</title>
</head>
<body>
    
   <center>
        <p> 

            <h1>Cien Años de soledad</h1><br>

            Cien años de soledad relata la historia de una aldea imaginaria, Macondo,<br> 
            y de la estirpe de sus fundadores, los Buendía. La novela se presenta <br>
            dividida en veinte secuencias narrativas que carecen de título e incluso <br>
            de numeración; por razones de comodidad, en este resumen numeramos y <br>
            llamamos «capítulos» a cada una de estas unidades. <br>

            <br>

            Si bien es cierto que los frecuentes saltos hacia atrás y hacia adelante <br>
            caracterizan la técnica narrativa de Cien años de soledad, hay que decir <br>
            que tales retrospecciones y anticipaciones se producen principalmente en el <br>
            interior de cada secuencia; los distintos capítulos refieren los sucesos en <br>
            orden cronológico, y pueden agruparse atendiendo a los acontecimientos de <br>
            fondo que marcan la vida de la aldea y al protagonismo que adquieren <br>
            ciertos personajes o generaciones. <br><br>

            Referencia: https://www.biografiasyvidas.com/reportaje/garcia_marquez/cien_anos.htm
        </p>
    </center>


</body>
</html>