<!DOCTYPE html>
<html>
<head>
    <title>Diario de Ana Frank</title>
</head>
<body>
    
    <center>
        <p> 
            <h1>Diario de Ana Frank</h1><br>

            <h2>Descripcion</h2>
            Con el título de El diario de Ana Frank se conoce la edición de los diarios personales <br>
            escritos por Ana Frank entre el 12 de junio de 1942 y el 1 de agosto de 1944 en un total <br>
            de tres cuadernos conservados en la actualidad,1​ donde relata su historia como adolescente <br>
            y los dos años en que permaneció oculta de los nazis, con su familia alemana de origen judío,<br>
            en Ámsterdam durante la Segunda Guerra Mundial hasta que fue descubierta.<br>
            
            
           <h2>Contexto del Diario</h2> 
            Oculta con su familia, otra familia judía (los van Pels) y un dentista (Fritz Pfeffer, Dussel<br>
            en el Diario), en una buhardilla de unos almacenes de Ámsterdam durante la ocupación nazi de <br>
            Países Bajos, Ana Frank con trece años, cuenta en su diario, al que llamó «Kitty», la vida del <br>
            grupo. Ayudados por varios empleados de la oficina, permanecieron durante más de dos años en <br> 
            el achterhuis (conocido como «la casa de atrás») hasta que, finalmente, fueron delatados y detenidos.<br>
            Ana escribió un diario entre el 12 de junio de 1942 y el 1 de agosto de 1944. El 4 de agosto de 1944, <br>
            los ocho escondidos fueron descubiertos en "la casa de atrás".2​ Estos últimos fueron llevados a <br>
            diferentes campos de concentración. Además del Diario, escribió varios cuentos que han sido publicados <br>
            paulatinamente desde 1960. Su hermana, Margot Frank, también escribió un diario, pero nunca se encontró <br>
            ningún rastro de este.<br><br>

            Referencia: https://es.wikipedia.org/wiki/Diario_de_Ana_Frank
        </p>
    </center>
       
</body>
</html>