<!DOCTYPE html>
<html>
<head>
    <title>Diario de un loco</title>
</head>
<body>
    
    <center>
        <p> 
            <h1>Diario de un loco</h1><br>

            <h2>Descripcion</h2>

            Diario de un loco, también conocido como Memorias de un loco o Apuntes de un loco <br>
            (en ruso Записки сумасшедшего) es un cuento del escritor Nikolái Gógol que relata <br>
            la historia de un burócrata que escribe en su diario lo que le sucede. Poco a poco <br>
            va relatando su descenso a la locura. Primero se ven pequeñas cosas como fechas que <br>
            no concuerdan, luego perros hablando y mandando correspondencia, y sus comentarios a <br>
            través de la historia son cada vez más raros hasta que pierde la cordura completamente.<br><br>

            Referencia: https://es.wikipedia.org/wiki/Diario_de_un_loco
        </p>
    </center>
       
</body>
</html>