<!DOCTYPE html>
<html>
<head>
    <title>El coronel no tiene quien le escriba</title>
</head>
<body>
    
    <center>
        <p> 
            <h1>El coronel no tiene quien le escriba</h1><br>
            El coronel no tiene quien le escriba es una novela corta publicada por el escritor <br>
            colombiano Gabriel García Márquez en 1961. Es una de las más célebres de las escritas<br>
            por el autor, y su protagonista, un viejo coronel que espera la pensión que nunca llega,<br>
            es considerado como uno de los personajes más entrañables de la literatura hispanoamericana <br>
            del siglo XX. Fue incluida en la lista de las 100 mejores novelas en español del siglo XX<br> 
            del periódico español El Mundo. <br><br>
        
            Referencia: https://es.wikipedia.org/wiki/El_coronel_no_tiene_quien_le_escriba
        </p>
    </center>
       
</body>
</html>