<!DOCTYPE html>
<html>
<head>
    <title>La Odisea</title>
</head>
<body>
    
    <center>
        <p> 
            <h1>La Odisea</h1><br>

            <h2>Descripcion</h2>
            La Odisea (en griego: Ὀδύσσεια, Odýsseia) es un poema épico griego compuesto por 24 cantos,<br>
            atribuido al poeta griego Homero. Se cree que fue compuesta en el siglo VIII a. C. en los<br> 
            asentamientos que tenía Grecia en la costa oeste del Asia Menor (actual Turquía asiática). <br><br>
            Según otros autores, la Odisea se completa en el siglo VII a. C. a partir de poemas que <br> 
            solo describían partes de la obra actual. Fue originalmente escrita en lo que se ha llamado <br>
            dialecto homérico. Narra la vuelta a casa, tras la guerra de Troya, del héroe griego Odiseo <br>
            (al modo latino, Ulises: Ὀδυσσεὺς en griego; Vlixes en latín). Además de haber estado diez <br>
            años fuera luchando, Odiseo tarda otros diez años en regresar a la isla de Ítaca, de la que <br>
            era rey, período durante el cual su hijo Telémaco y su esposa Penélope han de tolerar en su <br>
            palacio a los pretendientes que buscan desposarla (pues ya creían muerto a Odiseo), al mismo <br>
            tiempo que consumen los bienes de la familia.<br><br>


            Referencia: https://es.wikipedia.org/wiki/Odisea
        </p>
    </center>
       
</body>
</html>