<!DOCTYPE html>
<html>
<head>
    <title>Mision</title>
</head>
<body>
    <h1>MISION</h1>

    <h3>Aplicación de gestión de biblioteca dinámica con guardado de datos en archivos,somos una empresa dedicada a la venta de libros. </h3>

    <p> 
        <h3>
            Abrimos en el año 2022 y desde el primer momento tuvimos claro que 
            podiamos tener nuestro espacio para una librería virtual; un lugar en el que el lector pudiese buscar y, sobre todo, 
            encontrar esos libros que deben estar en las estanterías.<br><br> Además en nuestra intención está hacer la vida más agradable 
            a las personas que aman leer, tratando de atenderlas lo mejor posible y de darles el mejor servicio.  
        </h3> <br> <br>
    </p> 
      
       
</body>
</html>