<!DOCTYPE html>
<html>
<head>
    <title>NOSOTROS</title>
</head>
<body>
    <h1>ESTA ES LA INFORMACION SOBRE NOSOTROS</h1>

    ´<h1> ¿Por qué es tan importante saber sobre Nosotros ? </h1>

    <p>Es muy simple: Tenemos todo lo que quisiste ver de un libro en la web
    </p> 

    <p>Aquí podrás encontrar publicaciones de todo tipo, ediciones únicas y especiales 
        que desde el sigo XIX se han incrementado gracias a mecanismos como canje, compra, 
        donación y, particularmente, depósito legal​. <br>
    </p> 

    <p> El patrimonio bibliográfico y documental constituye la memoria histórica
        que se materializa en documentos de carácter cultural, artístico, científico, 
        político, religioso y social, conservados en múltiples soportes: manuscritos, 
        impresos, fotografías, grabados, audiovisuales y material digital. <br> <br>

        <h1>CONTACTO</h1>
        Teléfono conmutador: (+57) 3227254058 <br>
        Correo institucional: maicoll.calderon@campusucc.edu.co
    </p> 
      
       
</body>
</html>