<!DOCTYPE html>
<html>
<head>
    <title>Vision</title>
</head>
<body>
    <h1>VISION</h1>

    <p> 
        <h3>
            Nuestro proyecto busca consolidarse como una librería de referencia en la web y, desde aquí, abrirnos al resto del mundo 
            aprovechando las herramientas de las que disponemos (redes sociales, página web, etc…). <br><br>
            En el futuro queremos seguir realizando las mismas actividades culturales alrededor del libro 
            que hasta ahora y ampliarlas con otras como clubes de lectura, talleres, etc.

        </h3> <br>
    </p> 
      
       
</body>
</html>